# Dart / Flutter
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/generated_plugin_registrant.dart

# IDE
.idea/
*.iml
.vscode/

# OS
Thumbs.db
.DS_Store

# Local config
**/android/local.properties
